* {
  font-family: Arial, Helvetica, sans-serif;
}

#gameboardBackground {
  background-color: black;
  width: min-content;
}

#gameboard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 2px;
}

.gameboard > div {
  background-color: white;
  padding: 10px;
}

.boardSpace {
  border: none;
  font-size: 80px;
  -webkit-appearance: none;
  -webkit-border-radius: none;
  border-radius: 10px;
}

#hideButtons {
  display: none;
}

.buttonBox {
  width: 300px;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
}

.shapeButton{
    font-size: 32px;
}

#okButton{
  font-size: 32px;
  width: 300px;
  height: 50px;
  display: none;
  border: 1px solid green;
}

#resetButton{
  font-size: 32px;
  width: 300px;
  height: 50px;
  display: none;
  border: 1px solid green;
}

.speechBox {
  height: 140px;
}

#speech {
  font-size: 32px;
}
